@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Myriad Pro"), url("../fonts/Myriad Pro.woff2") format("woff2"), url("../fonts/Myriad Pro.woff") format("woff");
}

@font-face {
  font-family: "Intro Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Myriad Pro"), url("../fonts/intro_bold.woff2") format("woff2"), url("../fonts/intro_bold.woff") format("woff");
}

.header-menu__nav-link, .info-inner__subtitle, .info-inner__list-item, .programm .programm-inner__link, .slider__item-link, .slider__item-more, .slider__wrapper-share, .news__all, .news-wrapper__text, .footer-inner__item-text, .footer-inner__phone {
  font-family: "Myriad Pro, sans-serif";
  font-style: normal;
  font-weight: 400;
}

.info-inner__title, .info-wrapper__link, .info-wrapper__time-title, .info-wrapper__info span, .info-wrapper__info .smalltext, .info-registration__item, .programm .tab, .slider__item-title, .slider__inner-time, .slider__inner-data, .news-wrapper__title {
  font-family: "Intro Bold, sans-serif";
  font-style: normal;
  font-weight: 700;
}

.header-menu__authorization, .info-inner__btn, .info-inner__more {
  font-family: "Myriad Pro, sans-serif";
  padding: 12px 30px;
  border: 1px solid #354bb4;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  color: #354bb4;
  background-color: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Myriad Pro, sans-serif";
  font-size: 16px;
  line-height: 20px;
  color: #1b1b1b;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 16px;
}

.title {
  font-family: "Intro Bold, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
}

.header {
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

.header-menu {
  padding: 19px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header-menu__nav-item + .header-menu__nav-item {
  margin-left: 24px;
}

.header-menu__nav-link {
  font-size: 16px;
  line-height: 20px;
  color: #1b1b1b;
}

.header-menu__authorization {
  margin-left: 60px;
}

.header-menu__btn {
  display: none;
}

.main {
  background-color: #15256E;
}

.info-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-inner__images {
  max-width: 527px;
  width: 100%;
}

.info-inner__img {
  width: 527px;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-inner__content {
  width: calc(100% - 527px);
  background-image: url("../img/icon/title.svg");
  padding-top: 50px;
  padding-bottom: 58px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.info-inner__title {
  font-size: 40px;
  line-height: 130%;
  color: #fff;
  max-width: 546px;
  margin-bottom: 18px;
}

.info-inner__subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 6px;
}

.info-inner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.info-inner__list-item {
  margin-right: 23px;
  color: #fff;
  position: relative;
}

.info-inner__list-item::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 0;
  top: 7px;
  background-color: #fff;
}

.info-inner__list-item:first-child::before {
  content: none;
}

.info-inner__list-item + .info-inner__list-item {
  padding-left: 23px;
}

.info-inner__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 99px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.info-inner__btn {
  padding: 12px 28px;
  background-color: #fff;
}

.info-inner__more {
  border: 1px solid #fff;
  padding: 12px 28px;
  background-color: transparent;
  color: #fff;
}

.info-inner__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 13px;
          column-gap: 13px;
}

.info-inner__block-text {
  max-width: 321px;
  color: #fff;
}

.info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-wrapper__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 24px 19px 36px;
  border-bottom: 3px solid #354bb4;
  background-color: #fff;
  width: 527px;
}

.info-wrapper__item:last-child {
  border-bottom: none;
}

.info-wrapper__link {
  display: block;
  font-size: 20px;
  line-height: 160%;
  color: #354bb4;
  margin-top: 16px;
}

.info-wrapper__timer {
  width: 100%;
  background-image: url("../img/time-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-wrapper__time {
  border: 1px solid #354bb4;
  margin: auto;
  background-color: #fff;
  width: 529px;
}

.info-wrapper__time-title {
  font-size: 20px;
  line-height: 160%;
  color: #354bb4;
  padding: 19px 0;
  text-align: center;
  border-bottom: 1px solid #354bb4;
}

.info-wrapper #clockdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-wrapper__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #354bb4;
  width: 25%;
  text-align: center;
  padding: 14px 20px 26px;
}

.info-wrapper__info span {
  font-size: 46px;
  line-height: 160%;
  color: #354bb4;
}

.info-wrapper__info .smalltext {
  font-size: 20px;
  line-height: 120%;
  color: #354bb4;
  padding-top: 21px;
  position: relative;
}

.info-wrapper__info .smalltext:before {
  position: absolute;
  content: "";
  width: 92px;
  height: 1px;
  top: 0;
  background-color: #364db5;
  opacity: 50%;
  left: 0;
}

.info-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 16px;
  overflow: hidden;
}

.info-registration__item {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  font-size: 36px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
  -webkit-transform: translateX(-101px);
          transform: translateX(-101px);
}

.programm {
  padding: 120px 0 60px;
}

.programm .programm-inner {
  width: 100%;
}

.programm .programm-inner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}

.programm .programm-inner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programm .programm-inner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.programm .programm-inner__link img {
  margin-left: 10px;
}

.programm .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programm .tab {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 61px 8px;
  cursor: pointer;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  opacity: 0.76;
}

.programm .tabs-wrapper .active {
  background-color: #fff;
  color: #354bb4;
  opacity: 1;
}

.slider__item {
  background: #fff;
  padding: 20px 22px 20px 30px;
  max-width: 430px;
  width: 100%;
}

.slider__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.slider__item-items + .slider__item-items {
  margin-left: 17px;
  padding-left: 22px;
  position: relative;
}

.slider__item-items + .slider__item-items:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background: #354bb4;
  left: 0;
  top: 8px;
}

.slider__item-link {
  font-size: 16px;
  line-height: 150%;
  color: #1b1b1b;
}

.slider__item-link--active {
  color: #354bb4;
}

.slider__item-title {
  max-width: 340px;
  width: 100%;
  font-size: 20px;
  line-height: 130%;
  color: #1b1b1b;
  margin-bottom: 21px;
}

.slider__item-more {
  color: #354bb4;
  border-bottom: 1px solid #354bb4;
  margin-bottom: 64px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__inner-time, .slider__inner-data {
  font-size: 20px;
  line-height: 160%;
  color: #1b1b1b;
}

.slider__inner-time {
  margin-right: 8px;
}

.slider__inner-data {
  color: #354bb4;
  padding-left: 8px;
  position: relative;
}

.slider__inner-data:before {
  position: absolute;
  content: "";
  background-color: #354bb4;
  width: 1px;
  height: 24px;
  left: 0;
  opacity: 0.5;
  top: 3px;
}

.slider__wrapper-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1b1b1b;
}

.slider__wrapper-share svg {
  margin-left: 12px;
}

.slick-slider .slick-arrow {
  background-color: crimson;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
  font-size: 0;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
          box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
  border-radius: 37px;
  cursor: pointer;
  width: 52px;
  height: 52px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  opacity: 1;
}

.slick-slider .slick-prev {
  left: 0px;
  z-index: 1;
  top: 50%;
  -webkit-transform: translate(0%, -50%) rotateZ(180deg);
          transform: translate(0%, -50%) rotateZ(180deg);
}

.slick-slider .slick-next {
  right: 8px;
  z-index: 1;
}

.slick-slider .slick-disabled {
  opacity: 0;
  cursor: auto;
}

.news {
  padding: 60px 0;
}

.news__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.news__title {
  margin: 0 auto;
}

.news__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.news__all img {
  margin-left: 10px;
}

.news-wrapper__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.news-wrapper__wrap--active {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 23px;
  margin-top: 16px;
}

.news-wrapper__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.news-wrapper__block {
  max-width: 512px;
  width: 100%;
  background-color: #fff;
  padding: 20px 30px 51px 20px;
}

.news-wrapper__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.news-wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-wrapper__list-item + .news-wrapper__list-item {
  margin-left: 17px;
  padding-left: 17px;
  position: relative;
}

.news-wrapper__list-item + .news-wrapper__list-item:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background: #354bb4;
  left: 0;
  top: 8px;
}

.news-wrapper__title {
  max-width: 436px;
  width: 100%;
  font-size: 20px;
  line-height: 130%;
  color: #1b1b1b;
  margin-bottom: 16px;
}

.news-wrapper__text {
  max-width: 334px;
  width: 100%;
  color: #1b1b1b;
}

.news-wrapper__content {
  max-width: 792px;
  width: 100%;
}

.news-wrapper__content .news-wrapper__block {
  max-width: 100%;
  padding: 16px 30px 35px 30px;
}

.news-wrapper__content .news-wrapper__title {
  max-width: 605px;
  margin-bottom: 10px;
}

.news-wrapper__content .news-wrapper__text {
  max-width: 573px;
  margin-bottom: 49px;
}

.news-wrapper__img {
  width: 792px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: #ffffff;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0px 41px;
}

.footer-inner__item-text {
  font-size: 16px;
  line-height: 20px;
  color: #1b1b1b;
  margin-bottom: 8px;
}

.footer-inner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
          column-gap: 9px;
}

.footer-inner__phone {
  font-size: 14px;
  line-height: 120%;
  color: #354bb4;
}

.footer-inner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 6px;
}
/*# sourceMappingURL=style.css.map */