@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Myriad Pro"), url("../fonts/Myriad Pro.woff2") format("woff2"), url("../fonts/Myriad Pro.woff") format("woff");
}

@font-face {
  font-family: "Intro Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Myriad Pro"), url("../fonts/intro_bold.woff2") format("woff2"), url("../fonts/intro_bold.woff") format("woff");
}

.header-menu__nav-link, .info-inner__subtitle, .info-inner__list-item, .programm .programm-inner__link, .slider__item-link, .slider__item-more, .slider__wrapper-share, .news__all, .news-wrapper__text, .partners__card-text, .accordeon .panel p, .footer-inner__item-text, .footer-inner__phone {
  font-family: "Myriad Pro, sans-serif";
  font-style: normal;
  font-weight: 400;
}

.info-inner__title, .info-wrapper__link, .info-wrapper__time-title, .info-wrapper__info span, .info-wrapper__info .smalltext, .info-registration__item, .programm .tab, .slider__item-title, .slider__inner-time, .slider__inner-data, .news-wrapper__title, .partners__card-title, .accordeon__inner-title, .accordeon .accordion {
  font-family: "Intro Bold, sans-serif";
  font-style: normal;
  font-weight: 700;
}

.header-menu__authorization, .info-inner__btn, .info-inner__more {
  font-family: "Myriad Pro, sans-serif";
  padding: 12px 30px;
  border: 1px solid #354bb4;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  color: #354bb4;
  background-color: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Myriad Pro, sans-serif";
  font-size: 16px;
  line-height: 20px;
  color: #1b1b1b;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 16px;
}

.title {
  font-family: "Intro Bold, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
}

.header {
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

.header-menu {
  padding: 19px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header-menu__nav-item + .header-menu__nav-item {
  margin-left: 24px;
}

.header-menu__nav-link {
  font-size: 16px;
  line-height: 20px;
  color: #1b1b1b;
}

.header-menu__authorization {
  margin-left: 60px;
}

.header-menu__btn {
  padding: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.main {
  background-color: #15256E;
}

.info-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-inner__images {
  max-width: 527px;
  width: 100%;
}

.info-inner__img {
  width: 527px;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-inner__content {
  width: calc(100% - 527px);
  background-image: url("../img/icon/title.svg");
  padding-top: 50px;
  padding-bottom: 58px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.info-inner__title {
  font-size: 40px;
  line-height: 130%;
  color: #fff;
  max-width: 546px;
  margin-bottom: 18px;
}

.info-inner__subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 6px;
}

.info-inner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.info-inner__list-item {
  margin-right: 23px;
  color: #fff;
  position: relative;
}

.info-inner__list-item::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 0;
  top: 7px;
  background-color: #fff;
}

.info-inner__list-item:first-child::before {
  content: none;
}

.info-inner__list-item + .info-inner__list-item {
  padding-left: 23px;
}

.info-inner__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 99px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.info-inner__btn {
  padding: 12px 28px;
  background-color: #fff;
}

.info-inner__more {
  border: 1px solid #fff;
  padding: 12px 28px;
  background-color: transparent;
  color: #fff;
}

.info-inner__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 13px;
          column-gap: 13px;
}

.info-inner__block-text {
  max-width: 321px;
  color: #fff;
}

.info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-wrapper__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 24px 19px 36px;
  border-bottom: 3px solid #354bb4;
  background-color: #fff;
  width: 527px;
}

.info-wrapper__item:last-child {
  border-bottom: none;
}

.info-wrapper__link {
  display: block;
  font-size: 20px;
  line-height: 160%;
  color: #354bb4;
  margin-top: 16px;
}

.info-wrapper__timer {
  width: 100%;
  background-image: url("../img/time-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-wrapper__time {
  border: 1px solid #354bb4;
  margin: auto;
  background-color: #fff;
  width: 529px;
}

.info-wrapper__time-title {
  font-size: 20px;
  line-height: 160%;
  color: #354bb4;
  padding: 19px 0;
  text-align: center;
  border-bottom: 1px solid #354bb4;
}

.info-wrapper #clockdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-wrapper__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #354bb4;
  width: 25%;
  text-align: center;
  padding: 14px 20px 26px;
}

.info-wrapper__info span {
  font-size: 46px;
  line-height: 160%;
  color: #354bb4;
}

.info-wrapper__info .smalltext {
  font-size: 20px;
  line-height: 120%;
  color: #354bb4;
  padding-top: 21px;
  position: relative;
}

.info-wrapper__info .smalltext:before {
  position: absolute;
  content: "";
  width: 92px;
  height: 1px;
  top: 0;
  background-color: #364db5;
  opacity: 50%;
  left: 0;
}

.info-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 16px;
  overflow: hidden;
  background-color: #354bb4;
}

.info-registration__item {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  font-size: 36px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
  -webkit-transform: translateX(-101px);
          transform: translateX(-101px);
}

.programm {
  padding: 120px 0 60px;
}

.programm .programm-inner {
  width: 100%;
}

.programm .programm-inner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}

.programm .programm-inner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programm .programm-inner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.programm .programm-inner__link img {
  margin-left: 10px;
}

.programm .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programm .tab {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 61px 8px;
  cursor: pointer;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  opacity: 0.76;
}

.programm .tabs-wrapper .active {
  background-color: #fff;
  color: #354bb4;
  opacity: 1;
}

.slider__item {
  background: #fff;
  padding: 20px 22px 20px 30px;
  max-width: 430px;
  width: 100%;
}

.slider__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.slider__item-items + .slider__item-items {
  margin-left: 17px;
  padding-left: 22px;
  position: relative;
}

.slider__item-items + .slider__item-items:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background: #354bb4;
  left: 0;
  top: 8px;
}

.slider__item-link {
  font-size: 16px;
  line-height: 150%;
  color: #1b1b1b;
}

.slider__item-link--active {
  color: #354bb4;
}

.slider__item-title {
  max-width: 340px;
  width: 100%;
  font-size: 20px;
  line-height: 130%;
  color: #1b1b1b;
  margin-bottom: 21px;
}

.slider__item-more {
  color: #354bb4;
  border-bottom: 1px solid #354bb4;
  margin-bottom: 64px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__inner-time, .slider__inner-data {
  font-size: 20px;
  line-height: 160%;
  color: #1b1b1b;
}

.slider__inner-time {
  margin-right: 8px;
}

.slider__inner-data {
  color: #354bb4;
  padding-left: 8px;
  position: relative;
}

.slider__inner-data:before {
  position: absolute;
  content: "";
  background-color: #354bb4;
  width: 1px;
  height: 24px;
  left: 0;
  opacity: 0.5;
  top: 3px;
}

.slider__wrapper-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1b1b1b;
}

.slider__wrapper-share svg {
  margin-left: 12px;
}

.slick-slider .slick-arrow {
  background-color: crimson;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
  font-size: 0;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
          box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
  border-radius: 37px;
  cursor: pointer;
  width: 52px;
  height: 52px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  opacity: 1;
}

.slick-slider .slick-prev {
  left: 0px;
  z-index: 1;
  top: 50%;
  -webkit-transform: translate(0%, -50%) rotateZ(180deg);
          transform: translate(0%, -50%) rotateZ(180deg);
}

.slick-slider .slick-next {
  right: 8px;
  z-index: 1;
}

.slick-slider .slick-disabled {
  opacity: 0;
  cursor: auto;
}

.news {
  padding: 60px 0;
}

.news__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.news__title {
  margin: 0 auto;
}

.news__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.news__all img {
  margin-left: 10px;
}

.news-wrapper__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.news-wrapper__wrap--active {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 23px;
  margin-top: 16px;
}

.news-wrapper__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.news-wrapper__block {
  max-width: 512px;
  width: 100%;
  background-color: #fff;
  padding: 20px 30px 51px 20px;
}

.news-wrapper__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.news-wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-wrapper__list-item + .news-wrapper__list-item {
  margin-left: 17px;
  padding-left: 17px;
  position: relative;
}

.news-wrapper__list-item + .news-wrapper__list-item:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background: #354bb4;
  left: 0;
  top: 8px;
}

.news-wrapper__title {
  max-width: 436px;
  width: 100%;
  font-size: 20px;
  line-height: 130%;
  color: #1b1b1b;
  margin-bottom: 16px;
}

.news-wrapper__text {
  max-width: 334px;
  width: 100%;
  color: #1b1b1b;
}

.news-wrapper__content {
  max-width: 792px;
  width: 100%;
}

.news-wrapper__content .news-wrapper__block {
  max-width: 100%;
  padding: 16px 30px 35px 30px;
}

.news-wrapper__content .news-wrapper__title {
  max-width: 605px;
  margin-bottom: 10px;
}

.news-wrapper__content .news-wrapper__text {
  max-width: 573px;
  margin-bottom: 49px;
}

.news-wrapper__img {
  width: 792px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners {
  padding: 60px 0;
}

.partners__title {
  text-align: center;
  margin-bottom: 88px;
}

.partners__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 16px;
          column-gap: 16px;
  row-gap: 15px;
}

.partners__card {
  max-width: 430px;
  width: 100%;
  background: #ffffff;
  padding: 73px 29px 82px;
  text-align: center;
}

.partners__card-logo {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 50px;
}

.partners__card-title {
  font-size: 20px;
  line-height: 130%;
  color: #1b1b1b;
  margin-bottom: 10px;
}

.partners__card-text {
  font-size: 16px;
  color: #1b1b1b;
}

.accordeon {
  padding: 60px 0;
}

.accordeon__inner {
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  padding: 50px 80px 70px;
}

.accordeon__inner-title {
  font-size: 40px;
  line-height: 160%;
  color: #1b1b1b;
  margin-bottom: 24px;
}

.accordeon .accordion {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #354bb4;
  cursor: pointer;
  font-size: 20px;
  line-height: 160%;
  color: #1b1b1b;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.accordeon .accordion:hover {
  color: #354bb4;
}

.accordeon .accordeon-wrapper {
  border-bottom: 1px solid #354bb4;
}

.accordeon .panel {
  padding: 10px 0 20px;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordeon .panel p {
  max-width: 800px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #1b1b1b;
}

.footer {
  background: #ffffff;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0px 41px;
}

.footer-inner__item-text {
  font-size: 16px;
  line-height: 20px;
  color: #1b1b1b;
  margin-bottom: 8px;
}

.footer-inner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
          column-gap: 9px;
}

.footer-inner__phone {
  font-size: 14px;
  line-height: 120%;
  color: #354bb4;
}

.footer-inner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 6px;
}

@media (max-width: 768px) {
  .header-menu {
    padding: 28px 0 29px;
  }
  .header-menu__nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: darkkhaki;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .header-menu .active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .header-menu__nav-item + .header-menu__nav-item {
    margin-left: 0px;
  }
  .header-menu__nav-item {
    padding: 16px 0;
  }
  .header-menu__btn {
    display: block;
    margin-left: 48px;
    z-index: 4;
  }
  .header-menu__authorization {
    margin-left: auto;
  }
  .info-inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .info-inner__images {
    max-width: 210px;
    height: 330px;
  }
  .info-inner__content {
    padding-top: 40px;
    padding-left: 33px;
    width: calc(100% - 210px);
  }
  .info-inner__title {
    max-width: 310px;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 20px;
  }
  .info-inner__subtitle {
    font-size: 14px;
    line-height: 120%;
  }
  .info-inner__btn {
    background: #354bb4;
    color: #fff;
  }
  .info-inner__list-item {
    font-size: 14px;
    line-height: 20px;
  }
  .info-inner__more {
    background-color: #fff;
    color: #354bb4;
  }
  .info-inner__links {
    margin-bottom: 20px;
  }
  .info-inner__list-item + .info-inner__list-item {
    padding-left: 16px;
  }
  .info-wrapper__card {
    max-width: 210px;
    width: 100%;
  }
  .info-wrapper__item {
    width: 210px;
    padding: 20px 18px 9px 12px;
  }
  .info-wrapper__arrow img {
    width: 15px;
    height: 15px;
  }
  .info-wrapper__link {
    font-size: 14px;
    line-height: 160%;
    margin-top: 20px;
  }
  .info-wrapper__time {
    width: 421px;
  }
  .info-wrapper__time-title {
    font-size: 14px;
    line-height: 120%;
    padding: 23px 0px 14px;
  }
  .info-wrapper__info {
    padding: 8px 16px 14px;
  }
  .info-wrapper__info:last-child {
    border-right: none;
  }
  .info-wrapper__info span {
    font-size: 32px;
    line-height: 160%;
    color: #1b1b1b;
  }
  .info-wrapper__info .smalltext {
    padding-top: 17px;
    font-size: 14px;
    line-height: 120%;
    color: #1b1b1b;
  }
  .info-wrapper__info .smalltext:before {
    width: 73px;
  }
  .info-registration {
    padding: 18px 0;
  }
  .info-registration__item {
    font-size: 18px;
    line-height: 150%;
    padding-left: 17px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .info-registration__item svg {
    width: 15px;
    height: 15px;
    margin-left: 17px;
  }
  .programm {
    padding: 80px 0 40px;
  }
  .programm .tab {
    padding: 10px 40px 8px;
    font-size: 14px;
    line-height: 160%;
  }
  .programm .programm-inner__wrapper {
    margin-bottom: 20px;
  }
  .programm .programm-inner__title {
    font-size: 18px;
    line-height: 150%;
  }
  .programm .programm-inner__link {
    font-size: 14px;
    line-height: 20px;
    -webkit-column-gap: 8px;
            column-gap: 8px;
    margin-left: 25px;
  }
  .slider__item {
    max-width: 340px;
    width: 100%;
    padding: 14px 14px 15px 14px;
  }
  .slider__item-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .slider__item-more {
    border-bottom: 1px solid #354bb4;
    padding-bottom: 4px;
    margin-bottom: 26px;
  }
  .slider__inner-time, .slider__inner-data {
    font-size: 14px;
    line-height: 160%;
  }
  .slider__inner-data:before {
    height: 14px;
  }
  .slider__wrapper-share {
    font-size: 14px;
    line-height: 20px;
  }
  .news {
    padding: 40px 0;
  }
  .news__box {
    margin-bottom: 30px;
  }
  .news__title {
    font-size: 18px;
    line-height: 150%;
  }
  .news__all {
    font-size: 14px;
    line-height: 20px;
  }
  .news-wrapper__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .news-wrapper__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news-wrapper__block {
    max-width: 340px;
    width: 100%;
    padding: 14px 14px 23px 14px;
  }
  .news-wrapper__header {
    margin-bottom: 23px;
  }
  .news-wrapper__list-item {
    font-size: 14px;
    line-height: 20px;
  }
  .news-wrapper .slider__wrapper-share {
    font-size: 14px;
    line-height: 20px;
  }
  .news-wrapper__title {
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 8px;
  }
  .news-wrapper__text {
    font-size: 14px;
    line-height: 20px;
  }
  .news-wrapper__content {
    max-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .news-wrapper__content .news-wrapper__more {
    display: none;
  }
  .news-wrapper__content .news-wrapper__text {
    margin-bottom: 0;
  }
  .news-wrapper__img {
    width: 350px;
  }
  .news-wrapper__wrap--active {
    margin-right: 0px;
  }
  .partners {
    padding: 40px 0;
  }
  .partners__title {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;
  }
  .partners__inner {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .partners__card {
    max-width: 340px;
    width: 100%;
    padding: 29px 28px 28px 29px;
  }
  .partners__card-logo {
    margin: 0 auto 20px;
  }
  .partners__card-title {
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 10px;
  }
  .partners__card-text {
    font-size: 14px;
    line-height: 120%;
  }
  .accordeon {
    padding: 40px 0;
  }
  .accordeon__inner {
    padding: 40px 30px;
  }
  .accordeon__inner-title {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 19px;
  }
  .accordeon .accordeon .accordion {
    padding: 12px 0;
    font-size: 14px;
    line-height: 160%;
  }
  .footer-inner {
    -webkit-column-gap: 40px;
            column-gap: 40px;
    padding: 14px 0 23px;
  }
  .footer-inner__item-text {
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .footer-inner__info {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-inner__info-copyright {
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 12px;
  }
  .footer-inner__info-link {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 375px) {
  .header-menu__btn {
    margin-left: 28px;
  }
  .info-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-inner__images {
    max-width: 100%;
    width: 100%;
    height: 120px;
  }
  .info-inner__img {
    height: 100%;
  }
  .info-inner__content {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 0;
    background-size: contain;
  }
  .info-inner__title {
    max-width: 310px;
    width: 100%;
    margin-bottom: 22px;
  }
  .info-inner__subtitle {
    max-width: 207px;
    width: 100%;
    margin-bottom: 24px;
  }
  .info-inner__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 24px;
  }
  .info-inner__list-item {
    position: relative;
  }
  .info-inner__list-item:first-child {
    padding-left: 16px;
  }
  .info-inner__list-item:first-child::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    left: 0;
    top: 7px;
    background-color: #fff;
  }
  .info-inner__links {
    margin-bottom: 30px;
  }
  .info-inner__btn, .info-inner__more {
    padding: 12px 36px;
    font-size: 16px;
    line-height: 20px;
  }
  .info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-wrapper__card {
    max-width: 100%;
  }
  .info-wrapper__item {
    max-width: 100%;
    width: 100%;
  }
  .info-wrapper__timer {
    padding: 21px 16px 22px;
  }
  .info-wrapper__time {
    max-width: 311px;
    width: 100%;
  }
  .info-wrapper #clockdiv {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .info-wrapper #clockdiv::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #354bb4;
    top: 50%;
  }
  .info-wrapper__info {
    width: 50%;
    padding: 22px 32px 32px;
  }
  .info-wrapper__info:nth-child(2) {
    border-right: none;
  }
  .info-wrapper__time-title {
    font-size: 16px;
    line-height: 160%;
    padding: 17px 23px;
  }
  .info-wrapper__info .smalltext:before {
    width: 91px;
  }
  .programm {
    padding: 60px 0 30px;
  }
  .programm-inner__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
  }
  .programm-inner__info {
    width: 100%;
  }
  .programm-inner__link {
    margin-left: auto !important;
    -webkit-column-gap: 6px !important;
            column-gap: 6px !important;
  }
  .programm-inner .tabs {
    margin-top: 20px;
  }
  .programm-inner .tab {
    padding: 10px 33px 8px;
  }
  .programm-inner .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: -23px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    right: 50%;
  }
  .programm-inner .slick-dots li button {
    font-size: 0;
    border: none;
    padding: 0;
    background: #ffffff;
    opacity: 0.5;
    width: 5px;
    height: 5px;
    margin: 0 15px;
  }
  .programm-inner .slick-dots li.slick-active button {
    opacity: 1;
  }
  .news {
    padding: 30px 0;
  }
  .news__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news__title {
    margin: 0;
    margin-right: auto;
  }
  .news-wrapper__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-wrapper__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners__inner {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .accordeon .accordion {
    padding: 12px 0;
    font-size: 14px;
    line-height: 160%;
  }
  .footer {
    background-color: fuchsia;
  }
  .footer-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-inner__info {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #354bb4;
    padding-top: 25px;
  }
  .footer-inner__item {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */