@import "fonts";
@import "vars";
@import "reset";
@import "global";
.header {
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}
.header-menu {
  padding: 19px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  &__nav-item + .header-menu__nav-item {
    margin-left: 24px;
  }
  &__nav-link {
    @extend %myriadpro-400;
    font-size: 16px;
    line-height: 20px;
    color: $default;
  }
  &__authorization {
    margin-left: 60px;
    @extend %btn;
  }
  &__btn {
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
}
.main {
  background-color: $bg;
}
.info-inner {
  display: flex;
  justify-content: space-between;
  &__images {
    max-width: 527px;
    width: 100%;
  }
  &__img {
    width: 527px;
    height: 560px;
    object-fit: cover;
  }
  &__content {
    width: calc(100% - 527px);
    background-image: url("../img/icon/title.svg");
    padding-top: 50px;
    padding-bottom: 58px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
  }
  &__title {
    @extend %introbold-700;
    font-size: 40px;
    line-height: 130%;
    color: #fff;
    max-width: 546px;
    margin-bottom: 18px;
  }
  &__subtitle {
    @extend %myriadpro-400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 6px;
  }
  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__list-item {
    margin-right: 23px;
    @extend %myriadpro-400;
    color: #fff;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      left: 0;
      top: 7px;
      background-color: #fff;
    }
    &:first-child::before {
      content: none;
    }
  }
  &__list-item + .info-inner__list-item {
    padding-left: 23px;
  }
  &__links {
    display: flex;
    align-items: center;
    margin-bottom: 99px;
    column-gap: 20px;
  }
  &__btn {
    @extend %btn;
    padding: 12px 28px;
    background-color: #fff;
  }
  &__more {
    @extend %btn;
    border: 1px solid #fff;
    padding: 12px 28px;
    background-color: transparent;
    color: #fff;
  }
  &__block {
    display: flex;
    align-items: flex-start;
    column-gap: 13px;
  }
  &__block-text {
    max-width: 321px;
    color: #fff;
  }
}
.info-wrapper {
  display: flex;
  &__card {
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 30px 24px 19px 36px;
    border-bottom: 3px solid #354bb4;
    background-color: #fff;
    width: 527px;
    &:last-child {
      border-bottom: none;
    }
  }
  &__link {
    display: block;
    @extend %introbold-700;
    font-size: 20px;
    line-height: 160%;
    color: $link;
    margin-top: 16px;
  }
  &__timer {
    width: 100%;
    background-image: url("../img/time-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
  }
  &__time {
    border: 1px solid #354bb4;
    margin: auto;
    background-color: #fff;
    width: 529px;
  }
  &__time-title {
    @extend %introbold-700;
    font-size: 20px;
    line-height: 160%;
    color: $link;
    padding: 19px 0;
    text-align: center;
    border-bottom: 1px solid #354bb4;
  }
  #clockdiv {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #354bb4;
    width: 25%;
    text-align: center;
    padding: 14px 20px 26px;
    span {
      @extend %introbold-700;
      font-size: 46px;
      line-height: 160%;
      color: $link;
    }
    .smalltext {
      @extend %introbold-700;
      font-size: 20px;
      line-height: 120%;
      color: #354bb4;
      padding-top: 21px;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        width: 92px;
        height: 1px;
        top: 0;
        background-color: #364db5;
        opacity: 50%;
        left: 0;
      }
    }
  }
}
.info-registration {
  display: flex;
  justify-content: space-between;
  padding: 22px 16px;
  overflow: hidden;
  background-color: rgba(53, 75, 180, 1);
  &__item {
    padding-left: 40px;
    display: flex;
    align-items: center;
    padding-right: 40px;
    column-gap: 40px;
    @extend %introbold-700;
    font-size: 36px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
    transform: translateX(-101px);
  }
}
.programm {
  padding: 120px 0 60px;
  .programm-inner {
    width: 100%;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 42px;
    }
    &__info {
      display: flex;
      align-items: center;
    }
    &__link {
      display: flex;
      align-items: center;
      margin-left: 50px;
      @extend %myriadpro-400;
      font-size: 18px;
      line-height: 20px;
      color: #fff;
      img {
        margin-left: 10px;
      }
    }
  }
  .tabs {
    display: flex;
    align-items: center;
  }
  .tab {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 61px 8px;
    cursor: pointer;
    @extend %introbold-700;
    font-size: 20px;
    line-height: 160%;
    color: #fff;
    opacity: 0.76;
  }
  .tabs-wrapper .active {
    background-color: #fff;
    color: #354bb4;
    opacity: 1;
  }
}
.slider {
  &__item {
    background: #fff;
    padding: 20px 22px 20px 30px;
    max-width: 430px;
    width: 100%;
  }
  &__item-list {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  &__item-items + .slider__item-items {
    margin-left: 17px;
    padding-left: 22px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      background: #354bb4;
      left: 0;
      top: 8px;
    }
  }
  &__item-link {
    @extend %myriadpro-400;
    font-size: 16px;
    line-height: 150%;
    color: $default;
  }
  &__item-link--active {
    color: $link;
  }
  &__item-title {
    max-width: 340px;
    width: 100%;
    @extend %introbold-700;
    font-size: 20px;
    line-height: 130%;
    color: $default;
    margin-bottom: 21px;
  }
  &__item-more {
    @extend %myriadpro-400;
    color: $link;
    border-bottom: 1px solid #354bb4;
    margin-bottom: 64px;
    display: block;
    width: fit-content;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__inner-time,
  &__inner-data {
    @extend %introbold-700;
    font-size: 20px;
    line-height: 160%;
    color: $default;
  }
  &__inner-time {
    margin-right: 8px;
  }
  &__inner-data {
    color: #354bb4;
    padding-left: 8px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      background-color: #354bb4;
      width: 1px;
      height: 24px;
      left: 0;
      opacity: 0.5;
      top: 3px;
    }
  }
  &__wrapper-share {
    display: flex;
    align-items: center;
    @extend %myriadpro-400;
    color: $default;
    svg {
      margin-left: 12px;
    }
  }
}
.slick-slider {
  .slick-arrow {
    background-color: crimson;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    font-size: 0;
    border: none;
    background: #ffffff;
    box-shadow: 3px 10px 21px rgba(10, 27, 89, 0.1);
    border-radius: 37px;
    cursor: pointer;
    width: 52px;
    height: 52px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    opacity: 1;
  }
  .slick-prev {
    left: 0px;
    z-index: 1;
    top: 50%;
    transform: translate(0%, -50%) rotateZ(180deg);
  }
  .slick-next {
    right: 8px;
    z-index: 1;
  }
  .slick-disabled {
    opacity: 0;
    cursor: auto;
  }
}
.news {
  padding: 60px 0;
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__title {
    margin: 0 auto;
  }
  &__all {
    display: flex;
    align-items: center;
    @extend %myriadpro-400;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    img {
      margin-left: 10px;
    }
  }
}
.news-wrapper {
  &__wrap {
    display: flex;
    column-gap: 16px;
  }
  &__wrap--active {
    flex-direction: row-reverse;
    margin-right: 23px;
    margin-top: 16px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__block {
    max-width: 512px;
    width: 100%;
    background-color: #fff;
    padding: 20px 30px 51px 20px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__list-item + .news-wrapper__list-item {
    margin-left: 17px;
    padding-left: 17px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      background: #354bb4;
      left: 0;
      top: 8px;
    }
  }
  &__title {
    max-width: 436px;
    width: 100%;
    @extend %introbold-700;
    font-size: 20px;
    line-height: 130%;
    color: $default;
    margin-bottom: 16px;
  }
  &__text {
    max-width: 334px;
    width: 100%;
    @extend %myriadpro-400;
    color: $default;
  }
  &__content {
    max-width: 792px;
    width: 100%;
    .news-wrapper__block {
      max-width: 100%;
      padding: 16px 30px 35px 30px;
    }
    .news-wrapper__title {
      max-width: 605px;
      margin-bottom: 10px;
    }
    .news-wrapper__text {
      max-width: 573px;
      margin-bottom: 49px;
    }
  }
  &__img {
    width: 792px;
    height: 300px;
    object-fit: cover;
  }
}
.partners {
  padding: 60px 0;
  &__title {
    text-align: center;
    margin-bottom: 88px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 15px;
  }
  &__card {
    max-width: 430px;
    width: 100%;
    background: #ffffff;
    padding: 73px 29px 82px;
    text-align: center;
  }
  &__card-logo {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 0 auto 50px;
  }
  &__card-title {
    @extend %introbold-700;
    font-size: 20px;
    line-height: 130%;
    color: $default;
    margin-bottom: 10px;
  }
  &__card-text {
    @extend %myriadpro-400;
    font-size: 16px;
    color: $default;
  }
}
.accordeon {
  padding: 60px 0;
  &__inner {
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    padding: 50px 80px 70px;
  }
  &__inner-title {
    @extend %introbold-700;
    font-size: 40px;
    line-height: 160%;
    color: $default;
    margin-bottom: 24px;
  }
  .accordion {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #354bb4;
    cursor: pointer;
    @extend %introbold-700;
    font-size: 20px;
    line-height: 160%;
    color: $default;
    transition: all 0.4s;
    &:hover {
      color: $link;
    }
  }
  .accordeon-wrapper {
    border-bottom: 1px solid #354bb4;
  }
  .panel {
    padding: 10px 0 20px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    p {
      max-width: 800px;
      width: 100%;
      @extend %myriadpro-400;
      font-size: 16px;
      line-height: 20px;
      color: $default;
    }
  }
}
.footer {
  background: #ffffff;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px 41px;
  &__item-text {
    @extend %myriadpro-400;
    font-size: 16px;
    line-height: 20px;
    color: $default;
    margin-bottom: 8px;
  }
  &__list {
    display: flex;
    align-items: center;
    column-gap: 9px;
  }
  &__phone {
    @extend %myriadpro-400;
    font-size: 14px;
    line-height: 120%;
    color: #354bb4;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 6px;
  }
}
@import "media";
